accelerate==1.12.0
aiohttp==3.11.18
aiohttp==3.13.3
codetiming==1.4.0
datasets==4.4.1
einops==0.8.2
fastapi==0.135.3
filelock==3.25.2
huggingface_hub==0.36.0
Jinja2==3.1.6
mathruler==0.1.0
mlflow==3.11.1
modelscope==1.33.0
msgspec==0.20.0
numpy==2.4.4
omegaconf==2.3.0
packaging==26.0
peft==0.18.1
Pillow==12.2.0
psutil==7.2.2
psutil==7.1.3
psutil==7.0.0
pytest==9.0.2
PyYAML==6.0.3
qwen_vl_utils==0.0.14
Requests==2.33.1
safetensors==0.7.0
setuptools==80.9.0
sglang==0.4.6.post1
swanlab==0.7.14
tensordict==0.10.0
torch==2.6.0
torchdata==0.11.0
uvicorn==0.44.0
vllm==0.8.3
